set_io i_COUNTER[0] B5
set_io i_COUNTER[1] B4
set_io i_COUNTER[2] A2
set_io i_COUNTER[3] A1
set_io i_COUNTER[4] C5
set_io i_COUNTER[5] C4
set_io i_COUNTER[6] B3
set_io i_OVER_RUN   C3
set_io i_CLK        J3
set_io i_RST        B1
